{
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 1,
	"semi": true,
	"singleQuote": false,
	"editor.defaultFormatter": "esbenp.prettier-vscode",
	"editor.formatOnSave": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["clsx"],
	"tailwindPreserveWhitespace": true
}
