@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 208.7, 88.4%, 54.9%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--gradient: #4a3aff;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

html {
	scroll-behavior: smooth;
	@apply h-full;
}

body {
	@apply flex h-full flex-col bg-gray-50;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.page-title {
	@apply text-xl font-bold text-gray-900;
}

.card {
	@apply h-full rounded-lg border bg-card p-3 text-card-foreground shadow-sm;
}

.limited-chars {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 35ch;
	display: inline-block;
	box-sizing: border-box;
}

/* Style for react-select when it is used in vertical mode */
.participant_selector__control {
	@apply !border-none !bg-transparent;
	box-shadow: none !important;
}
.participant_selector__value-container {
	@apply !flex !flex-col !items-start !p-0;
}

.participant_selector__multi-value {
	@apply !bg-transparent;
}

.participant_selector__multi-value__label {
	@apply !text-base;
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
	width: 5px;
}
.hide-scrollbar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(60, 74, 86, 0.088);
}

.hide-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(42, 128, 249, 0.307);
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
	scrollbar-width: 8px;
}

/* Maintain scrollability */
.hide-scrollbar {
	overflow-y: auto; /* or scroll */
}

.limited-chars {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 35ch; /* Set the width to accommodate 10 characters */
	display: inline-block;
	box-sizing: border-box;
}
